
@font-face {
    font-family: railway;
    src: url(../fonts/Railway-Semibold.ttf);
}

body {
    font-family: railway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #05376e;
}
a:hover {
    color: #05376e;
}
